@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5c1717;
  font-family: "Play", sans-serif;
}
body .pokedex-body {
  width: 100%;
  box-sizing: border-box;
}
body .pokedex-body .pokedex-left-side {
  position: absolute;
  box-shadow: -2px 2px 4px 1px #290707;
  bottom: 2%;
  top: 2%;
  left: 8%;
  width: 40%;
  background-color: #ff4646;
  border-radius: 10px 0 0 10px;
}
body .pokedex-body .pokedex-left-side .header-ls .back-rectangle {
  width: 100%;
  height: 72px;
  border-top-left-radius: 4px;
  background-color: #911212;
  position: relative;
  border-bottom: 5px inset #441616;
}
body .pokedex-body .pokedex-left-side .header-ls .lower-triangle {
  position: absolute;
  border-bottom: 60px solid #911212;
  border-left: 120px solid transparent;
  transform: rotate(180deg);
  left: 30%;
  top: 12%;
  z-index: 1;
}
body .pokedex-body .pokedex-left-side .header-ls .lower-triangle.shadow-lt {
  position: absolute;
  background-color: #441616;
  top: 12.9%;
  border-bottom: 60px solid #ff4646;
  border-left: 120px solid transparent;
  transform: rotate(0);
  z-index: 0;
}
body .pokedex-body .pokedex-left-side .header-ls .rest-rectangle {
  position: absolute;
  width: 30%;
  height: 80px;
  top: 8.7%;
  background-color: #911212;
  z-index: 1;
  border-bottom: 5px inset #441616;
}
body .pokedex-body .pokedex-left-side .header-ls .large-circle .principal-circle {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #242424;
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .large-circle .principal-circle .inner-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: radial-gradient(#e1feff 14%, #8ce1f7, #ffffff);
  border-radius: 50%;
  top: 7%;
  left: 5%;
  box-shadow: #242424 0 0 15px -4px inset;
}
body .pokedex-body .pokedex-left-side .header-ls .small-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 3px 0 #1b1b1b inset;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .small-circle.first {
  top: 3.5%;
  left: 25%;
  background-image: radial-gradient(#ffbfbf 14%, #ff2441, #ffffff);
}
body .pokedex-body .pokedex-left-side .header-ls .small-circle.second {
  top: 3.5%;
  left: 32%;
  background-image: radial-gradient(#fdfcd0 14%, #faf614, #ffffff);
}
body .pokedex-body .pokedex-left-side .header-ls .small-circle.third {
  top: 3.5%;
  left: 39%;
  background-image: radial-gradient(#d1ffc5 20%, #4afa14, #ffffff);
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen {
  width: 80%;
  height: 50%;
  background-color: #98b1bb;
  position: absolute;
  top: 26%;
  left: 9%;
  border-radius: 3px 3px 3px 50px;
  box-shadow: 0 0 3px 4px #555454 inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen {
  width: 80%;
  height: 65%;
  position: absolute;
  left: 10%;
  top: 17%;
  background: linear-gradient(130deg, #cac9c9 0%, #fff, #ebebeb);
  box-shadow: #1b1b1b 0 0 5px 2px inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .screen-pokemon-img {
  position: absolute;
  width: 120px;
  height: 220px;
  left: 5%;
  top: -10%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen {
  position: absolute;
  right: 10%;
  top: 10%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen table {
  width: 150px;
  margin-top: 10px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-circle {
  position: absolute;
  top: 7%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #df2f2f;
  box-shadow: 0 0 2px 1px #242424 inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-circle.first {
  left: 43%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-circle.second {
  right: 43%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-circle.bottom {
  width: 28px;
  height: 28px;
  bottom: 2%;
  left: 10%;
  top: 86.5%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-line {
  width: 10%;
  height: 0.01rem;
  background-color: #383838;
  position: absolute;
  right: 10%;
  box-shadow: 0 0 2px 1px #555454;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-line.one {
  bottom: 7%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-line.two {
  bottom: 9.2%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-line.three {
  bottom: 11.2%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-line.four {
  bottom: 13.5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .circle {
  background-color: #242424;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 13%;
  left: 9%;
  position: absolute;
}
body .pokedex-body .pokedex-left-side .footer-ls .button-bar {
  width: 55px;
  height: 13px;
  position: absolute;
  bottom: 16%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #383838;
}
body .pokedex-body .pokedex-left-side .footer-ls .button-bar.first {
  left: 22%;
  background-color: #11ff4d;
}
body .pokedex-body .pokedex-left-side .footer-ls .button-bar.second {
  left: 35%;
  background-color: #ff9011;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-vertical {
  position: absolute;
  bottom: 3%;
  right: 19.2%;
  width: 35px;
  height: 112px;
  background-color: #222222;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #1f1f1f;
  cursor: pointer;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-vertical .arrow-up {
  background-color: #222222;
  position: absolute;
  border-bottom: 20px solid #161616;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 24%;
  top: 4%;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-vertical .arrow-down {
  background-color: #222222;
  border-top: 20px solid #161616;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 24%;
  bottom: 5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-horizontal {
  position: absolute;
  bottom: 9.5%;
  right: 12%;
  width: 112px;
  height: 35px;
  background-color: #222222;
  border-radius: 5px;
  box-shadow: -1px 1px 3px 1px #1f1f1f;
  cursor: pointer;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-horizontal .arrow-left {
  background-color: #222222;
  border-right: 20px solid #161616;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: 5%;
  bottom: 18%;
}
body .pokedex-body .pokedex-left-side .footer-ls .btn-horizontal .arrow-right {
  background-color: #222222;
  border-left: 20px solid #161616;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: 5%;
  bottom: 18%;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container {
  width: 50%;
  height: 40px;
  background-color: #fbff00;
  border: 1px solid #fbff00;
  position: absolute;
  bottom: 3%;
  left: 9%;
  border-radius: 7px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 1px 1px 3px 1px #555454;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container:focus {
  outline: none;
  border: 1px solid #3d3b36;
}
body .pokedex-body .pokedex-tube {
  position: absolute;
  bottom: 2%;
  top: 13.5%;
  left: 47.5%;
  width: 5%;
  background: linear-gradient(to left, #971717, #ff2c2c, #971717);
  box-shadow: 3px 0px 4px -1px #3d1010, 3px 0px 4px -1px #3d1010, -4px 0px 4px -1px #3d1010;
  z-index: 9999;
}
body .pokedex-body .pokedex-tube .tube-spinner {
  width: 100%;
  height: 70px;
  border-radius: 3px;
  background: linear-gradient(to left, #440a0a, #ff2c2c, #440a0a);
}
body .pokedex-body .pokedex-tube .tube-spinner.up {
  margin-top: -73px;
  box-shadow: 0px 2px 3px 1px #000000;
}
body .pokedex-body .pokedex-tube .tube-spinner.middle {
  margin-top: 90px;
  box-shadow: 0px 2px 3px 1px #000000, 0px -2px 3px 1px #000000;
}
body .pokedex-body .pokedex-tube .tube-spinner.down {
  position: absolute;
  bottom: -0.5%;
  box-shadow: 0px -2px 3px 1px #000000, 0px 1px 3px 1px #5c1717;
}
body .pokedex-body .pokedex-right-side {
  position: absolute;
  bottom: 2%;
  top: 14%;
  right: 8%;
  width: 40%;
  background-color: #ff4646;
  border-radius: 0 3px 3px 0;
}

img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=pokedex-styles.css.map */
