@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #270b0b;
  font-family: "Press Start 2P", cursive;
  overflow-x: hidden;
}
body button, body a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}
@media (min-width: 992px) {
  body {
    overflow-y: hidden;
  }
}
body .pokedex-body {
  width: 100%;
  /* @media (min-width: 992px) and (max-width: 1200px) {

  } */
}
body .pokedex-body .pokedex-left-side {
  box-shadow: -2px 2px 4px 1px #290707;
  background: linear-gradient(45deg, #e40a27, #ff334e);
}
body .pokedex-body .pokedex-left-side .header-ls .line-header {
  display: flex;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle {
  font-size: 15em;
  background: transparent;
  position: absolute;
  background: #e40a27;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.left {
  width: 30%;
  height: 120px;
  left: 0;
  border-bottom: 4px inset #3f1f15;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right {
  width: 70%;
  height: 65px;
  right: 0;
  border-bottom: 4px inset #3f1f15;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::before {
  content: "";
  position: absolute;
  border-right: 100px solid transparent;
  border-top: 55px solid #e40a27;
  z-index: 0;
  margin-top: 65px;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::before {
    border-right: 70px solid transparent;
    border-top: 55px solid #e40a27;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::after {
  content: "";
  position: absolute;
  border-right: 100px solid transparent;
  border-top: 55px solid #3f1f15;
  z-index: -1;
  margin-top: 69px;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::after {
    border-right: 70px solid transparent;
    border-top: 55px solid #3f1f15;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .header-ls .lights-circles {
    padding-bottom: 5%;
    padding-top: 3%;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .principal-circle {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin: 1% 3%;
  box-shadow: 0 0 4px 1px #242424;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .principal-circle .inner-circle {
  width: 80px;
  height: 80px;
  margin: 6% auto;
  background-image: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  background-image: radial-gradient(#e1feff 14%, #28aecf, #31818f);
  border-radius: 50%;
  box-shadow: #242424 0 0 4px -1px inset, 0 0 4px 1px #5c5c5c;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .principal-circle .inner-circle.animate {
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles {
  display: flex;
  overflow-x: hidden;
  padding-right: 6%;
  padding-top: 1%;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #5c5c5c;
  margin-left: 10px;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.first {
  background-image: radial-gradient(#ffbfbf 14%, #ff245b, #ffffff);
  box-shadow: 0 0 2px 1px #851e2c;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.second {
  background-image: radial-gradient(#fdfcd0 14%, #fad714, #ffffff);
  box-shadow: 0 0 2px 1px #5e5c09;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.third {
  background-image: radial-gradient(#d1ffc5 20%, #4afa14, #ffffff);
  box-shadow: 0 0 2px 1px #1d7003;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen {
  width: 95%;
  height: 360px;
  min-height: 360px;
  background-color: #98b1bb;
  margin: 2% auto;
  border-radius: 3px 3px 3px 50px;
  box-shadow: 0 0 3px 4px #555454 inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen {
  width: 95%;
  height: 250px;
  min-height: 250px;
  margin: 15px auto;
  position: relative;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen.on {
  background: linear-gradient(-330deg, #d4d4d4 5%, white, #d4d4d4);
  box-shadow: #1b1b1b 0 0 5px 2px inset;
  transition: all 0.3s;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen.off {
  background-color: #424242;
  box-shadow: black 0 0 5px 2px inset;
  transition: all 0.3s;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-content .pokemon-stats, body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .pokemon-stats {
  margin: 15px 15px;
  width: 40%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-content .pokemon-stats {
  top: 0;
  left: 0;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-content .pokemon-floor {
  top: 51.5px;
  right: 55px;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-content .pokemon-floor {
    top: 95px;
    right: 25px;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-content .pokemon-stats {
    padding: 10px 10px 3px 10px;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .pokemon-stats {
  bottom: 0;
  right: 0;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .pokemon-floor {
  bottom: 15px;
  left: 45px;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .pokemon-floor {
    bottom: 35px;
    left: 10px;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .pokemon-stats {
  padding: 10px 10px 3px 10px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .player-hp {
  font-size: 0.7rem;
  font-weight: 100;
  margin-top: 5px;
  text-align: right;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .player-hp {
    display: flex;
    justify-content: space-between;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-content .player-hp .lvl-mobile {
    margin-top: 0 !important;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-pokemon-img, body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-pokemon-img {
  width: 105px;
  height: 105px;
  position: absolute;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-pokemon-img {
  top: -5px;
  right: 90px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-pokemon-img {
  bottom: 5px;
  left: 80px;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .enemy-pokemon-img {
    top: 32px;
    right: 35px;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .player-pokemon-img {
    bottom: 25px;
    left: 30px;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-floor {
  width: 175px;
  height: 42px;
  border-radius: 100%;
  background-color: #62ff62d3;
  box-shadow: 0 0 2px 3px #35ad63;
  position: absolute;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-floor {
    width: 140px;
    height: 40px;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 3px 1px #242424;
  border-radius: 15px 5px 15px 5px;
  position: absolute;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats h6 {
  font-weight: 100;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats h6.lvl-desktop {
  display: block;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats h6.lvl-mobile {
  display: none;
}
@media (max-width: 450px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats h6.lvl-desktop {
    display: none !important;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats h6.lvl-mobile {
    display: block !important;
    margin-top: 5px;
    font-size: 0.5rem !important;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .info, body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .bar-content {
  display: flex;
  justify-content: space-between;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .bar-content {
  background-color: #2a323d;
  padding: 2px 2px 2px 5px;
  border-radius: 50px;
  margin-top: 7px;
  width: 100%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .bar-content h5 {
  margin-top: 2px;
  color: gradie;
  background: -webkit-linear-gradient(270deg, #f0cc80 40%, #e6aa2a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.75rem;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .bar-content .hpbar {
  width: 100%;
  height: 0.65rem;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 3px;
  padding: 2px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .battle-screen-content .pokemon-stats .bar-content .hpbar .inner-bar {
  width: 100%;
  height: 100%;
  background-color: #11ff9c;
  border-radius: 50px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list {
  display: flex;
  list-style: none;
  width: 98.6%;
  height: 99%;
  overflow-x: scroll;
  margin: 0 auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list::-webkit-scrollbar {
  height: 4px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list::-webkit-scrollbar-track {
  background: transparent;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #081631d8;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list li {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list li button {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px 2px #8d8d8d;
  background-color: #fdffda;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list li button img {
  width: 100px;
  height: 100px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .my-pokemons-screen-content ul.my-pokemons-list li button:active {
  box-shadow: 0 0 2px 2px #8d8d8d inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .principal-pokemon-img-container {
  width: 100%;
  margin: 0 auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .principal-pokemon-img-container .screen-pokemon-img {
  width: 150px;
  height: 150px;
  justify-content: center;
  margin-left: 30%;
  padding-top: 5%;
  overflow: hidden;
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .principal-pokemon-img-container .screen-pokemon-img {
    padding-top: 2%;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen {
  position: absolute;
  bottom: 0;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen table {
  width: 95%;
  margin: 10px auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen table label {
  font-size: 0.6rem;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #df2f2f;
  box-shadow: 0 0 2px 1px #242424 inset;
  display: flex;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-top-circles {
  display: flex;
  width: 10%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 15px;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-top-circles {
    width: 20%;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .circle.bottom {
  margin-left: 10px;
  width: 28px;
  height: 28px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars {
  width: 10%;
  margin-top: 0.3%;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars {
    width: 20%;
    margin-right: 5px;
  }
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line {
  height: 0.01rem;
  background-color: #383838;
  box-shadow: 0 0 2px 1px #555454;
  z-index: 999999;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.two {
  margin-top: 7px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.three {
  margin-top: 7px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.four {
  margin-top: 7px;
}
body .pokedex-body .pokedex-left-side .footer-ls {
  width: 95%;
  margin: 3.5% auto 0 auto;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .footer-ls {
    padding-top: 6.5%;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .footer-circles .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #202020;
  box-shadow: 0 0 3px 1px inset #7c7c7c, 0 0 3px 1px #202020;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .footer-circles .circle.two {
  margin-top: 10px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content {
    width: 60%;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons {
    justify-content: center;
    margin-top: -5px;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li {
  width: 50%;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li {
    width: 48%;
    text-align: center;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li button {
  border-radius: 5px;
  padding: 15px 0;
  width: 90%;
  height: auto;
  margin: 0 7px 10px 7px;
  border: none;
  cursor: pointer;
  transform: translateY(10%);
  color: #fff;
  box-shadow: 0 0 2px 1px inset #363636;
  font-size: 0.65rem !important;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li button {
    line-height: 10px;
    height: 80%;
    font-size: 0.5rem !important;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li button.disabled {
  background-color: #727272 !important;
  box-shadow: 0 0 1px 2px #242424 inset !important;
  color: #adadad !important;
  cursor: not-allowed !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li button.disabled:active {
  box-shadow: 0 0 1px 2px inset #242424 !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-battle {
  background-color: #925ed6;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-battle:active {
  background-color: #783ec5;
  box-shadow: 0 0 2px 2px #242424 inset !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-capture {
  background-color: #fd808a;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-capture:active {
  background-color: #fc4353;
  box-shadow: 0 0 2px 2px #242424 inset !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-my-pokemons {
  background-color: #fff7e7;
  color: #463b3b;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-my-pokemons:active {
  background-color: #fce9c3;
  box-shadow: 0 0 2px 2px #242424 inset !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-cancel {
  background-color: #ff6b15;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content ul.flex-buttons li .btn-cancel:active {
  background-color: #ff4c15;
  box-shadow: 0 0 2px 2px #242424 inset !important;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content {
  width: 100px;
  height: 100px;
  position: relative;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn {
  position: absolute;
  background-color: #222222;
  border-radius: 5px;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn.vertical {
  width: 32px;
  height: 100px;
  left: 33%;
  box-shadow: 0 0 2px 1px #202020, 0 0 3px 1px inset #7c7c7c;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn.horizontal {
  width: 100px;
  height: 32px;
  top: 32.5%;
  box-shadow: 0 0 2px 1px #202020, 0 0 3px 1px inset #7c7c7c;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn.horizontal::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 40px;
  background-color: #222222;
  margin-top: -4px;
  left: 35.2%;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow {
  background-color: #222222;
  position: absolute;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.up, body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.down {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  right: 22%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.up {
  border-bottom: 17px solid #585050;
  top: 5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.down {
  border-top: 17px solid #585050;
  bottom: 5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.left, body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 27%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.left {
  border-right: 17px solid #585050;
  left: 4%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.right {
  border-left: 17px solid #585050;
  right: 4%;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container {
  width: 100%;
  height: 40px;
  background-color: #f0ff25;
  border: 1px solid #242424;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 0 2px 1px #242424 inset;
  font-family: "Press Start 2P", cursive;
  font-size: 0.55rem;
  color: #242424;
  margin-bottom: 1.5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container:disabled {
  background-color: #535809;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container:disabled:hover {
  cursor: not-allowed;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container:focus {
  outline: none;
  background-color: #fbff00;
  box-shadow: 0 0 3px 1px #fbff00 inset;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-left-side .footer-ls .input-container {
    margin-top: 6.5%;
    margin-bottom: 7.5%;
  }
}
body .pokedex-body .pokedex-tube {
  background: linear-gradient(72deg, #e40a27, #ff2a46, #e40a27);
  height: 50px;
  position: relative;
  box-shadow: 0 -1px 3px 0 #242424, 0 1px 3px 0 #242424, 0 0 2px 0 #242424 inset, 0 0 2px 0 #242424 inset;
}
body .pokedex-body .pokedex-tube::after, body .pokedex-body .pokedex-tube::before, body .pokedex-body .pokedex-tube .tube-middle {
  content: "";
  position: absolute;
  width: 8%;
  height: 55px;
  top: -5%;
  background: linear-gradient(72deg, #e40a27, #ff2a46, #fd2542);
  box-shadow: 0 0 2px 1px #242424 inset, 0 0 2px 1px #242424;
  border-radius: 5px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-tube::after, body .pokedex-body .pokedex-tube::before, body .pokedex-body .pokedex-tube .tube-middle {
    width: 12%;
  }
}
body .pokedex-body .pokedex-tube::before {
  left: 0;
}
body .pokedex-body .pokedex-tube::after {
  right: 0;
}
body .pokedex-body .pokedex-tube .tube-middle {
  width: 12%;
  left: 42%;
  background: linear-gradient(72deg, #ff2946, #fd2542, #fd4059) !important;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-tube .tube-middle {
    width: 25%;
    left: 38%;
  }
}
body .pokedex-body .pokedex-tube-desktop {
  display: none;
}
body .pokedex-body .pokedex-right-side {
  background: linear-gradient(45deg, #ff334e 20%, #e40a27 50%);
  border-radius: 0 3px 3px 0;
  /* border-top: 4px solid #331717;
  box-shadow: 2px 2px 4px 1px #290707; */
}
body .pokedex-body .pokedex-right-side .rs-header {
  width: 100%;
  margin: 11% auto 1.5% auto;
}
@media (min-width: 992px) and (max-width: 1050px) {
  body .pokedex-body .pokedex-right-side .rs-header {
    margin: 14% auto 1.5% auto;
  }
}
@media (min-width: 1051px) and (max-width: 1200px) {
  body .pokedex-body .pokedex-right-side .rs-header {
    margin: 13% auto 1.5% auto;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .desktop-square {
  display: none;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop {
  display: none;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header {
  display: flex;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects {
  position: absolute;
  z-index: 999;
  margin: 3.5% auto;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px 4px inset #0ccf6e, 0 0 3px 1px #242424;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light.one {
  margin-left: 2%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light.two {
  margin-right: 2%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text {
  top: -50px;
  position: relative;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three {
  position: relative;
  border-bottom: 10px solid #242424;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one::after, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two::after, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three::after {
  content: "";
  position: absolute;
  width: 99%;
  top: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #e40a27;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one {
  width: 100%;
  left: -8%;
  margin-top: 5px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one::after {
  left: -5.7% !important;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two {
  width: 80%;
  left: 1.5%;
  z-index: 99;
  margin-top: 5px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two::after {
  left: -7.3% !important;
  width: 99%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three {
  width: 60%;
  left: 11%;
  z-index: 99;
  margin-top: -3%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .three::after {
  left: -10% !important;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text h6 {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px 4px black;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text h6 {
    font-size: 1rem;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle {
  width: 33.3333333333%;
  height: 50px;
  background-color: #fd0c2d;
  position: relative;
  border-bottom: 1px inset #313131;
  border-top: 2px solid #313131;
  box-shadow: 0 1px 4px 0 #313131;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right {
  height: 50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
  content: "";
  position: absolute;
  border-bottom: 50px solid #fd0c2d;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before {
  top: -50px;
  z-index: 99;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
  top: -52px;
  border-bottom: 50px solid #313131;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after {
  border-left: 150px solid transparent;
  right: 0;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after {
    left: 50%;
    border-left: 60px solid transparent;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle {
  height: 100px;
  margin-top: -50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::after {
  content: "";
  position: absolute;
  background-color: #fd0c2d;
  height: 52px;
  width: 50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::before {
  left: -3%;
  margin-top: 48px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::after {
  right: -3%;
  z-index: 99;
  margin-top: 48px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
  border-right: 150px solid transparent;
  left: 0;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
    right: 50%;
    border-right: 60px solid transparent;
  }
}
body .pokedex-body .pokedex-right-side .body-rs {
  padding-top: 2%;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs {
    padding-top: 7.5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen {
  width: 95%;
  border-radius: 5px;
  height: 175px;
  padding-top: 5px;
  background-color: #e0e0e0;
  margin: 2% auto 2.5% auto;
  box-shadow: 0 0 5px 1px #000000 inset, 0 0 4px 1px #331717;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen {
  position: relative;
  width: 99%;
  height: 170px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #000000;
  margin: 0 auto;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar {
  width: 8px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #acacacee;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #98aad1d8;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .textIntro {
  line-height: 30px;
  color: #333333;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .textIntro p {
  font-size: 1.2rem;
  padding: 20px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .textIntro p {
    font-size: 0.85rem !important;
    padding: 10px 15px;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content {
  position: relative;
  overflow-x: hidden;
  height: 90%;
  width: 100%;
  top: 0;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 73%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content::-webkit-scrollbar {
  height: 10px !important;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button {
  font-family: "Press Start 2P", cursive;
  border: none;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0 0 2px 1px inset #363636;
  width: 95%;
  cursor: pointer;
  text-align: left;
  position: relative;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button h6 {
  font-size: 0.85rem;
  color: #3b3b3b;
  font-weight: 100;
  text-align: center;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button h6 {
    font-size: 0.65rem !important;
  }
}
@media (max-width: 360px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button h6 {
    font-size: 0.55rem !important;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .options-content ul.options li button:active {
  background-color: #ffefc6;
  box-shadow: 0 0 2px 2px inset #242424 !important;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .questions-text-content {
  height: 30%;
  background-color: #8a6fff;
  box-shadow: 0 0 2px 2px #463a7e inset, 0 0 2px 4px inset #201941;
  border-radius: 5px;
  width: 101%;
  margin-left: -0.5%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .questions-text-content h6 {
  color: #e1ffff;
  padding: 20px;
  font-size: 0.85rem;
  font-weight: 100;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .questions-text-content h6 {
    font-size: 0.75rem !important;
    padding: 15px !important;
  }
}
@media (max-width: 360px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .battle-screen .questions-text-content h6 {
    font-size: 0.65rem !important;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats {
  width: 95%;
  font-size: 0.75rem;
  margin: 0 auto;
  padding-top: 1%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .hp-text-content, body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .attack-text-content {
  display: flex;
  justify-content: space-between;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .attack-text-content div:first-child {
  margin-top: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content {
  margin-top: 10px;
  display: flex;
  font-size: 0.55rem;
  margin-top: 2%;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content {
    margin-top: 10%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content .pokemon-type-badge {
  padding: 4px;
  color: #fff;
  list-style: none;
  margin-right: 3px;
  border-radius: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content {
  display: flex;
  width: 100%;
  margin-top: 0.5%;
  justify-content: space-between;
  position: relative;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content div:first-child {
  font-size: 0.7rem;
  margin-top: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content .abilities-list {
  display: inline-block;
  font-size: 0.55rem;
  margin-left: 10px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content .abilities-list .pokemon-ability-badge {
  padding: 4px;
  color: #fff;
  background-color: #383769;
  list-style: none;
  margin-right: 3px;
  border-radius: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .pokemon-hp-bar {
  height: 0.2rem;
  border-radius: 10px;
  background-color: #000000;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list {
  font-size: 0.6rem;
  max-height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list h5 {
  margin: 5px 0 5px 0;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table {
  width: 100%;
  border-collapse: collapse;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr {
  cursor: pointer;
  box-shadow: 0 0 3px 0 inset #757575;
  background: linear-gradient(45deg, #c4c8ff 20%, #fff 20%);
}
@media (max-width: 408px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr {
    background: linear-gradient(45deg, #c4c8ff 30%, #fff 20%);
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr:hover {
  background-color: #fff2aa;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr:nth-child(even) {
  background-color: rgba(206, 209, 235, 0.5);
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr:nth-child(even):hover {
  background-color: #ffdfc1;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table tr.disabled {
  cursor: not-allowed;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table td {
  border-top: 1px inset #a0a0a0;
  margin: 0;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table td:first-child {
  width: 15px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table td:last-child {
  border-right: 1px solid transparent;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list table td.mobile {
    display: none;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table {
  width: 95%;
  margin: 2.5% auto 1% auto;
  border-radius: 5px;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td {
  background-color: #1194ff;
  box-shadow: 0px 0px 3px 2px #12222c;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td:first-child {
  border-top-left-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td:last-child {
  border-top-right-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td {
  background-color: #1194ff;
  box-shadow: 0px 0px 3px 2px #12222c;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table .table-button {
  width: 100%;
  height: 40px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1.5%;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn {
    margin-top: 3%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background: linear-gradient(to left, #48c9a2 40%, #1db688);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 2px 1px inset #242424;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list h6 {
  font-size: 0.65rem;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list:active {
  box-shadow: 0 0 2px 2px #242424 inset !important;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list.disabled {
  background: linear-gradient(to left, #727272, #727272);
  color: #adadad;
  box-shadow: 0 0 3px 2px #1f1f1f inset;
  cursor: not-allowed;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content {
  display: flex;
  justify-content: flex-end;
  width: 97.5%;
  margin-bottom: 1.5%;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content {
    margin-top: 3%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn {
  background-color: #1d1d1b;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  left: 0;
  box-shadow: 0 0 2px 0 #c0c0c0 inset, 0 0 2px 1px #242424;
  position: relative;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow {
  background-color: #1d1d1b;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 17%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow.left {
  position: absolute;
  border-right: 20px solid #4d4d4d;
  left: 30%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow.right {
  position: absolute;
  border-left: 20px solid #4d4d4d;
  right: 30%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.one {
  right: 8%;
  cursor: pointer;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.two {
  right: 23%;
  cursor: pointer;
  margin-right: 10px;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.two {
    right: 30%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled {
  cursor: auto;
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow {
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow.left {
  border-right: 20px solid #30302f;
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow.right {
  border-right: 20px solid #1d1d1b;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons {
  display: flex;
  width: 30%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn {
  background-color: #fff;
  width: 50%;
  height: 50px;
  box-shadow: 0 0 3px 1px #1d1d1b inset, 0 0 1px 2px #691e1e;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn.one {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn.two {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .yellow-button {
  background: radial-gradient(#f8f552 10%, #ffc400);
  width: 45px;
  height: 45px;
  box-shadow: 0 0 2px 2px #65661e inset;
  border-radius: 50%;
}
body .pokedex-body .pokedex-right-side .footer-rs {
  display: flex;
}
@media (max-width: 575px) {
  body .pokedex-body .pokedex-right-side .footer-rs {
    margin-top: 6%;
  }
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen {
  background-color: #161616;
  width: 170px;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px #555454 inset, 0 0 2px 1px #474747;
  margin: 2.5% auto;
  color: #fff;
  text-align: center;
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen label {
  font-size: 0.6rem;
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen h4 {
  margin-top: 5px;
}
@media (min-width: 992px) {
  body .pokedex-body {
    display: flex;
    justify-content: space-between;
  }
  body .pokedex-body .pokedex-left-side {
    width: 47.5%;
    position: absolute;
    top: 0.8%;
    bottom: 0.8%;
    left: 0.5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: content-box;
  }
  body .pokedex-body .pokedex-left-side .rectangle:first-child {
    border-top-left-radius: 5px;
  }
  body .pokedex-body .pokedex-left-side .lights-circles {
    padding-top: 1%;
    justify-content: flex-start !important;
  }
  body .pokedex-body .pokedex-left-side .lights-circles .small-circles {
    padding-left: 20px !important;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen {
    width: 95% !important;
    height: 285px !important;
    min-height: 285px !important;
    margin-top: 5% !important;
  }
  body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen {
    width: 90% !important;
    height: 185px !important;
    min-height: 185px !important;
  }
  body .pokedex-body .pokedex-left-side .footer-ls {
    position: absolute;
    width: 95% !important;
    bottom: 2%;
    margin: 0 auto !important;
    left: 2%;
  }
  body .pokedex-body .pokedex-tube {
    display: none;
  }
  body .pokedex-body .pokedex-tube-desktop {
    display: block !important;
    position: absolute;
    width: 5%;
    left: 47.5%;
    top: 11%;
    bottom: 11%;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff2946, #ff657a, #fd2542) !important;
    z-index: 999;
    box-shadow: 0 0 3px 1px inset #242424, 0 0 3px 0 #242424;
  }
  body .pokedex-body .pokedex-tube-desktop::after, body .pokedex-body .pokedex-tube-desktop::before, body .pokedex-body .pokedex-tube-desktop .tube-middle {
    content: "";
    background: linear-gradient(90deg, #ff2946, #ff657a, #fd2542) !important;
    width: 100%;
    height: 80px;
    position: absolute;
    box-shadow: 0 0 2px 1px inset #242424, 0 4px 5px -2px #242424, 0 -4px 5px -2px #242424;
    border-radius: 5px;
  }
  body .pokedex-body .pokedex-tube-desktop::after {
    top: -14%;
  }
  body .pokedex-body .pokedex-tube-desktop::before {
    bottom: -14%;
  }
  body .pokedex-body .pokedex-tube-desktop .tube-middle {
    top: 40%;
    height: 105px;
  }
  body .pokedex-body .pokedex-right-side {
    position: absolute;
    right: 0.5%;
    width: 47.5%;
    top: 0.8%;
    bottom: 0.8%;
    box-sizing: content-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  body .pokedex-body .pokedex-right-side::after {
    content: "";
    background-color: #270b0b;
    position: absolute;
    width: 100%;
    height: 69px;
    top: 0;
  }
  body .pokedex-body .pokedex-right-side .rs-header .desktop-square {
    display: block !important;
    background-color: #270b0b;
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 120px;
  }
  body .pokedex-body .pokedex-right-side .rs-header .desktop-square::before {
    content: "";
    position: absolute;
    bottom: 0;
    border-right: 100px solid transparent;
    border-bottom: 51px solid #e40a27;
    z-index: 99;
  }
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop {
    display: block !important;
    position: absolute;
    background-color: #414855;
    top: 85px;
    left: 2.5%;
    width: 300px;
    height: 50px;
    z-index: 99;
    box-shadow: 0 0 5px 3px inset #1b1b1b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop {
    top: 78px;
    width: 190px;
  }
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop::before {
    content: "";
    left: 100%;
    width: 40px;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #1b1b1b;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop::before {
    border-right: 100px solid transparent;
    border-bottom: 50px solid #1b1b1b;
  }
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop::after {
    content: "";
    width: 50px;
    height: 20px;
    background-color: #e40a27;
    position: absolute;
    left: 138%;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop::after {
    left: 165%;
    bottom: -2%;
    width: 20px;
    height: 10px;
  }
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px black;
    margin-top: 17px;
    text-align: center;
  }
  body .pokedex-body .pokedex-right-side .rs-header .rs-header-desktop h6::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 22%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px inset #2e4f7a, 0 0 3px 1px #242424;
    left: 105%;
  }
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  body .pokedex-body .pokedex-right-side .footer-rs {
    position: absolute;
    bottom: 1%;
    margin: 0 auto !important;
    width: 100%;
  }
  body .pokedex-body .pokedex-right-side .footer-rs .result-screen {
    width: 40% !important;
  }
}
body .item {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 0.9s linear infinite;
}
body .item .parent {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
body .item .parent.ball {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #1d1d1b;
  z-index: 100;
  background-color: red;
  z-index: 0;
}
body .item .parent.half-ball {
  top: 20px !important;
  width: 40px;
  height: 20px;
  z-index: 0;
  background-color: white;
  border-radius: 0 0 100px 100px;
}
body .item .parent.horizon {
  top: 1% !important;
  margin-top: auto;
  border-radius: 0px;
  width: 42px;
  height: 9px;
  background-color: #1d1d1b;
  z-index: 3;
}
body .item .parent.big-button {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  background-color: white;
  z-index: 4;
}
body .item .parent.small-button {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  z-index: 5;
}
body img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes flicker {
  0% {
    background: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  }
  25% {
    background: radial-gradient(#e1feff 14%, #28aecf, #31818f);
  }
  50% {
    background: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  }
  75% {
    background: radial-gradient(#e1feff 14%, #28aecf, #31818f);
  }
  100% {
    background: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  }
}

/*# sourceMappingURL=pokedex-styles.css.map */
