@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #270b0b;
  font-family: "Press Start 2P", cursive;
  overflow-x: hidden;
  min-height: 100%;
}
body .pokedex-body {
  width: 100%;
}
body .pokedex-body .pokedex-left-side {
  box-shadow: -2px 2px 4px 1px #290707;
  background: linear-gradient(45deg, #e40a27, #ff334e);
}
body .pokedex-body .pokedex-left-side .header-ls .line-header {
  display: flex;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle {
  font-size: 15em;
  background: transparent;
  position: absolute;
  background: #e40a27;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.left {
  width: 35%;
  height: 120px;
  left: 0;
  border-bottom: 2px inset #242424;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right {
  width: 65%;
  height: 65px;
  right: 0;
  border-bottom: 2px inset #242424;
  z-index: 99;
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::before {
  content: "";
  position: absolute;
  border-right: 150px solid transparent;
  border-top: 55px solid #e40a27;
  z-index: 0;
  margin-top: 65px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::before {
    border-right: 70px solid transparent;
    border-top: 55px solid #e40a27;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::after {
  content: "";
  position: absolute;
  border-right: 150px solid transparent;
  border-top: 55px solid #242424;
  z-index: -1;
  margin-top: 67px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .header-ls .line-header .rectangle.right::after {
    border-right: 70px solid transparent;
    border-top: 55px solid #242424;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .header-ls .lights-circles {
    padding-bottom: 5%;
    padding-top: 3%;
  }
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .principal-circle {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin: 1% 3%;
  box-shadow: 0 0 4px 1px #242424;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .principal-circle .inner-circle {
  width: 80px;
  height: 80px;
  margin: 6% auto;
  background-image: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  border-radius: 50%;
  box-shadow: #242424 0 0 4px -1px inset, 0 0 4px 1px #5c5c5c;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles {
  display: flex;
  overflow-x: hidden;
  margin-right: 4%;
  margin-top: 1%;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #5c5c5c;
  margin-left: 10px;
  z-index: 999;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.first {
  background-image: radial-gradient(#ffbfbf 14%, #ff245b, #ffffff);
  box-shadow: 0 0 4px 2px #851e2c inset;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.second {
  background-image: radial-gradient(#fdfcd0 14%, #fad714, #ffffff);
  box-shadow: 0 0 4px 2px #5e5c09 inset;
}
body .pokedex-body .pokedex-left-side .header-ls .lights-circles .small-circles .small-circle.third {
  background-image: radial-gradient(#d1ffc5 20%, #4afa14, #ffffff);
  box-shadow: 0 0 4px 2px #1d7003 inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen {
  width: 95%;
  height: 360px;
  min-height: 360px;
  background-color: #98b1bb;
  margin: 2% auto;
  border-radius: 3px 3px 3px 50px;
  box-shadow: 0 0 3px 4px #555454 inset;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen {
  width: 95%;
  height: 250px;
  min-height: 250px;
  margin: 15px auto;
  position: relative;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen.on {
  background: linear-gradient(130deg, #cac9c9 0%, #fff, #ebebeb);
  box-shadow: #1b1b1b 0 0 5px 2px inset;
  transition: all 0.3s;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen.off {
  background-color: #424242;
  box-shadow: black 0 0 5px 2px inset;
  transition: all 0.3s;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .principal-pokemon-img-container {
  width: 100%;
  margin: 0 auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .principal-pokemon-img-container .screen-pokemon-img {
  width: 150px;
  height: 150px;
  justify-content: center;
  margin-left: 30%;
  padding-top: 5%;
  overflow: hidden;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen {
  position: absolute;
  bottom: 0;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen table {
  width: 95%;
  margin: 10px auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .inner-screen .description-screen table label {
  font-size: 0.6rem;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #df2f2f;
  box-shadow: 0 0 2px 1px #242424 inset;
  display: flex;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-top-circles {
  display: flex;
  width: 10%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 15px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-top-circles.bottom {
  width: 28px;
  height: 28px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .circle.bottom {
  width: 28px;
  height: 28px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars {
  width: 10%;
  margin-top: 0.3%;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line {
  height: 0.01rem;
  background-color: #383838;
  box-shadow: 0 0 2px 1px #555454;
  z-index: 999999;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.two {
  margin-top: 7px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.three {
  margin-top: 6.5px;
}
body .pokedex-body .pokedex-left-side .body-ls .pokedex-screen .screen-footer .line-bars .line.four {
  margin-top: 7px;
}
body .pokedex-body .pokedex-left-side .footer-ls {
  width: 95%;
  margin: 3.5% auto 0 auto;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls {
    padding-top: 6.5%;
  }
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .circle {
  background-color: #242424;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #555555;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content {
  display: flex;
  margin-top: 1%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content .button-bar {
  width: 55px;
  height: 13px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #383838;
  margin: 10px;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content .button-bar.first {
  background-color: #11ff4d;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content .button-bar.second {
  background-color: #11b4ff;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content .button-bar.third {
  background-color: #ff7b53;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .buttons-content .button-bar.fourth {
  background-color: #6832ff;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content {
  width: 100px;
  height: 100px;
  position: relative;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn {
  position: absolute;
  background-color: #222222;
  border-radius: 5px;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn.vertical {
  width: 32px;
  height: 100px;
  left: 32%;
  box-shadow: 0 0 3px 0 #1f1f1f;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn.horizontal {
  width: 100px;
  height: 32px;
  top: 32%;
  box-shadow: -1px 1px 3px 0 #1f1f1f;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow {
  background-color: #222222;
  position: absolute;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.up, body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  right: 20%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.up {
  border-bottom: 18px solid #161616;
  top: 5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.down {
  border-top: 18px solid #161616;
  bottom: 5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.left, body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 20%;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.left {
  border-right: 20px solid #161616;
  left: 0;
}
body .pokedex-body .pokedex-left-side .footer-ls .inline-content .arrows-content .arrow-btn .arrow.right {
  border-left: 20px solid #161616;
  right: 0;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container {
  width: 100%;
  height: 40px;
  background-color: #fbff00;
  border: 1px solid #fbff00;
  border-radius: 7px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 1px 1px 3px 1px #555454;
  font-family: "Press Start 2P", cursive;
  font-size: 0.55rem;
  color: #242424;
  margin-bottom: 1.5%;
}
body .pokedex-body .pokedex-left-side .footer-ls .input-container:focus {
  outline: none;
  border: 1px solid #f8d57d;
  box-shadow: 0 0 3px 1px #ffbb00;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-left-side .footer-ls .input-container {
    margin-top: 6.5%;
    margin-bottom: 7.5%;
  }
}
body .pokedex-body .pokedex-tube {
  background: linear-gradient(72deg, #e40a27, #ff2a46, #e40a27);
  height: 50px;
  position: relative;
  box-shadow: 0 -1px 3px 0 #242424, 0 1px 3px 0 #242424, 0 0 2px 0 #242424 inset, 0 0 2px 0 #242424 inset;
}
body .pokedex-body .pokedex-tube::after, body .pokedex-body .pokedex-tube::before, body .pokedex-body .pokedex-tube .tube-middle {
  content: "";
  position: absolute;
  width: 8%;
  height: 55px;
  top: -5%;
  background: linear-gradient(72deg, #e40a27, #ff2a46, #fd2542);
  box-shadow: 0 0 2px 1px #242424 inset, 0 0 2px 1px #242424;
  border-radius: 5px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-tube::after, body .pokedex-body .pokedex-tube::before, body .pokedex-body .pokedex-tube .tube-middle {
    width: 12%;
  }
}
body .pokedex-body .pokedex-tube::before {
  left: 0;
}
body .pokedex-body .pokedex-tube::after {
  right: 0;
}
body .pokedex-body .pokedex-tube .tube-middle {
  width: 12%;
  left: 42%;
  background: linear-gradient(72deg, #ff2946, #fd2542, #fd4059) !important;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-tube .tube-middle {
    width: 25%;
    left: 38%;
  }
}
body .pokedex-body .pokedex-right-side {
  background: linear-gradient(45deg, #ff334e 20%, #e40a27 50%);
  border-radius: 0 3px 3px 0;
  /* border-top: 4px solid #331717;
  box-shadow: 2px 2px 4px 1px #290707; */
}
body .pokedex-body .pokedex-right-side .rs-header {
  width: 100%;
  margin: 0 auto 1.5% auto;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header {
  display: flex;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects {
  position: absolute;
  z-index: 999;
  margin: 3.5% auto;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #242424;
  margin: 0 auto;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light .inner {
  width: 21px;
  height: 21px;
  margin: 8% auto;
  background-image: radial-gradient(#e1feff 14%, #60c4dd, #45cfe7);
  border-radius: 50%;
  box-shadow: #242424 0 0 4px -1px inset, 0 0 4px 1px #5c5c5c;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light.one {
  margin-left: 2%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .light.two {
  margin-right: 2%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one {
  width: 200px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #242424;
  top: 0;
  z-index: 99;
  margin-left: -50px;
  transform: rotate(180deg);
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .one::before {
  content: "";
  position: absolute;
  width: 200px;
  top: 1px;
  left: -8%;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 8px solid #e40a27;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two {
  width: 150px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #242424;
  top: 20%;
  margin-left: -25px;
  z-index: 99;
  transform: rotate(180deg);
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text .two::before {
  content: "";
  position: absolute;
  width: 150px;
  top: 1px;
  margin-left: -16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 8px solid #e40a27;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text h6 {
  margin-top: 50px;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px 4px black;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .middle-objects .drows-text h6 {
    font-size: 1rem;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle {
  width: 33.3333333333%;
  height: 50px;
  background-color: #fd0c2d;
  position: relative;
  border-bottom: 1px inset #313131;
  border-top: 1px solid #313131;
  box-shadow: 0 0 2px 1px #242424;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left {
  height: 50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after {
  content: "";
  position: absolute;
  border-left: 150px solid transparent;
  border-top: 50px solid #fd0c2d;
  right: 0;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after {
    left: 50%;
    border-left: 60px solid transparent;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::before {
  top: 100%;
  z-index: 99;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.left::after {
  top: 105%;
  border-top: 50px solid #313131;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle {
  height: 100px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::after {
  content: "";
  position: absolute;
  background-color: #fd0c2d;
  height: 50px;
  width: 50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::before {
  left: -2%;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.middle::after {
  right: -3%;
  z-index: 99;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right {
  height: 50px;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
  content: "";
  position: absolute;
  border-right: 150px solid transparent;
  border-top: 50px solid #fd0c2d;
  left: 0;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before, body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
    right: 50%;
    border-right: 60px solid transparent;
  }
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::before {
  top: 100%;
  z-index: 99;
}
body .pokedex-body .pokedex-right-side .rs-header .rs-design-header .rectangle.right::after {
  top: 105%;
  border-top: 50px solid #313131;
}
body .pokedex-body .pokedex-right-side .body-rs {
  padding-top: 2%;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs {
    padding-top: 7.5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen {
  width: 95%;
  border-radius: 5px;
  height: 175px;
  padding-top: 5px;
  background-color: #e0e0e0;
  margin: 2% auto 2.5% auto;
  box-shadow: 0 0 5px 1px #000000 inset, 0 0 4px 1px #331717;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen {
  position: relative;
  width: 99%;
  height: 170px;
  background: radial-gradient(#e4e4e4 0%, #ffffff, #dfdede);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #000000;
  margin: 0 auto;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar {
  width: 8px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar-track {
  background: transparent;
  border-left: 4px solid transparent;
  border-right: 3.5px solid transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #acacacee;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #98aad1d8;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats {
  width: 95%;
  font-size: 0.75rem;
  margin: 0 auto;
  padding-top: 1%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .hp-text-content, body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .attack-text-content {
  display: flex;
  justify-content: space-between;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .attack-text-content div:first-child {
  margin-top: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content {
  margin-top: 10px;
  display: flex;
  font-size: 0.55rem;
  margin-top: 2%;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content {
    margin-top: 10%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .type-text-content .pokemon-type-badge {
  padding: 4px;
  color: #fff;
  list-style: none;
  margin-right: 3px;
  border-radius: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content {
  display: flex;
  width: 100%;
  margin-top: 0.5%;
  justify-content: space-between;
  position: relative;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content div:first-child {
  font-size: 0.7rem;
  margin-top: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content .abilities-list {
  display: inline-block;
  font-size: 0.55rem;
  margin-left: 10px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .ability-text-content .abilities-list .pokemon-ability-badge {
  padding: 4px;
  color: #fff;
  background-color: #383769;
  list-style: none;
  margin-right: 3px;
  border-radius: 5px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemon-stats .pokemon-hp-bar {
  height: 0.2rem;
  border-radius: 10px;
  background-color: #000000;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list {
  font-size: 0.6rem;
  max-height: 163px;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list h5 {
  margin: 5px 0 5px 0;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list ul {
  list-style: none;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list ul .pokemon-table-img {
  width: 60px;
  height: 50px;
  padding: 0;
  margin: 0;
  object-fit: contain;
  object-position: center;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list ul a {
  color: #303030;
  text-decoration: none;
  display: flex;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list ul a span {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-screen .inner-screen .pokemons-list ul a:hover {
  background-color: #ffe866;
  box-shadow: 0 0 2px 0 #645d34;
  transform: translate(5px);
  transition: all 0.3s;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table {
  width: 95%;
  margin: 2.5% auto 1% auto;
  border-radius: 5px;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td {
  background-color: #1194ff;
  box-shadow: 0px 0px 3px 2px #12222c;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td:first-child {
  border-top-left-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:first-child td:last-child {
  border-top-right-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td {
  background-color: #1194ff;
  box-shadow: 0px 0px 3px 2px #12222c;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .buttons-table .table-button {
  width: 100%;
  height: 40px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1.5%;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  color: #ececec;
  background: linear-gradient(to left, #ff6b15 40%, #ff6b15 50%, #ff8c49);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 3px 2px #864100;
  transition: all 0.3s;
  cursor: pointer;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .all-pokemons-btn .btn-pokemons-list h6 {
  font-size: 0.65rem;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content {
  display: flex;
  justify-content: flex-end;
  width: 97.5%;
  margin-bottom: 1.5%;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content {
    margin-top: 3%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn {
  background-color: #1d1d1b;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  margin-left: 1.2%;
  box-shadow: 0 0 2px 0 #c0c0c0 inset, 0 0 2px 1px #242424;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow {
  background-color: #1d1d1b;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 17%;
  transition: all 0.1s;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow.left {
  border-right: 20px solid #4d4d4d;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn .arrow.right {
  border-left: 20px solid #4d4d4d;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.one {
  right: 8%;
  cursor: pointer;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.two {
  right: 23%;
  cursor: pointer;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.two {
    right: 30%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled {
  cursor: auto;
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow {
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow.left {
  border-right: 20px solid #30302f;
  background-color: #30302f;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .list-indicator-content .bottom-tb-btn.disabled .arrow.right {
  border-right: 20px solid #1d1d1b;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content {
    margin-top: 5%;
  }
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons {
  display: flex;
  width: 30%;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn {
  background-color: #fff;
  width: 50%;
  height: 50px;
  box-shadow: 0 0 3px 1px #1d1d1b inset, 0 0 1px 2px #691e1e;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn.one {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .white-buttons .white-btn.two {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
body .pokedex-body .pokedex-right-side .body-rs .rs-buttons .middle-buttons-content .yellow-button {
  background: radial-gradient(#f8f552 10%, #ffc400);
  width: 45px;
  height: 45px;
  box-shadow: 0 0 2px 2px #65661e inset;
  border-radius: 50%;
}
body .pokedex-body .pokedex-right-side .footer-rs {
  display: flex;
}
@media (max-width: 480px) {
  body .pokedex-body .pokedex-right-side .footer-rs {
    margin-top: 6%;
  }
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen {
  background-color: #161616;
  width: 170px;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px #555454 inset, 0 0 2px 1px #474747;
  margin: 2.5% auto;
  color: #fff;
  text-align: center;
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen label {
  font-size: 0.6rem;
}
body .pokedex-body .pokedex-right-side .footer-rs .result-screen h4 {
  margin-top: 5px;
}

.item {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 0.9s linear infinite;
}
.item .parent {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.item .parent.ball {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #1d1d1b;
  z-index: 100;
  background-color: red;
  z-index: 0;
}
.item .parent.half-ball {
  top: 20px !important;
  width: 40px;
  height: 20px;
  z-index: 0;
  background-color: white;
  border-radius: 0 0 100px 100px;
}
.item .parent.horizon {
  top: 1% !important;
  margin-top: auto;
  border-radius: 0px;
  width: 42px;
  height: 9px;
  background-color: #1d1d1b;
  z-index: 3;
}
.item .parent.big-button {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  background-color: white;
  z-index: 4;
}
.item .parent.small-button {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  z-index: 5;
}

img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/* 

Huawei y 2018:
- width: 360px
- height: 600px

Samsung A20:
- width: 412px
- height: 759px

*/

/*# sourceMappingURL=pokedex-styles.css.map */
