@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 11, 11);
    font-family: 'Press Start 2P', cursive;

    .pokedex-body {
        width: 100%;
        box-sizing: border-box;

        .pokedex-left-side {
            position: absolute;
            box-shadow: -2px 2px 4px 1px #290707;
            bottom: 2%;
            top: 2%;
            left: 8%;
            bottom: 2%;
            width: 40%;
            background: linear-gradient(45deg, rgb(228, 10, 39), rgb(255, 51, 78));
            border-radius: 10px 0 0 10px;

            @media (max-width: 400px) {
                width: 98%;
                top: 1%;
                left: 1%;
                bottom: 1%;
                position: absolute;
                border-radius: 3px;
            }

            .header-ls {

                .back-rectangle {
                    width: 100%;
                    height: 72px;
                    border-top-left-radius: 4px;
                    background: linear-gradient(45deg, rgb(228, 10, 39), rgb(255, 51, 78) 6%);
                    //background: rgb(255, 51, 78);
                    border-bottom: 5px inset rgb(68, 22, 22);
                }

                .lower-triangle {
                    position: absolute;
                    border-bottom: 60px solid rgb(255, 51, 78);
                    border-left: 118px solid transparent; 
                    transform: rotate(180deg);
                    left: 30%;
                    top: 12.2%;
                    z-index: 1;

                    &.shadow-lt {
                        position: absolute;
                        background-color: rgb(68, 22, 22);
                        top: 13.8%;
                        border-bottom: 56px solid rgb(247, 36, 64);
                        border-left: 110px solid transparent; 
                        transform: rotate(0);
                        z-index: 0;
                    }

                    @media (max-width: 400px) {

                    }
                }

                .rest-rectangle {
                    position: absolute;
                    width: 30%;
                    height: 80px;
                    top: 8.7%;
                    background: linear-gradient(45deg, rgb(228, 10, 39), rgb(255, 51, 78) 50%);
                    z-index: 1;
                    border-bottom: 5px inset rgb(68, 22, 22);
                }

                .large-circle {
                
                    .principal-circle {
                        width: 90px;
                        height: 90px;
                        background-color: #fff;
                        border-radius: 50%;
                        box-shadow: 0 0 4px 1px #242424;
                        position: absolute;
                        top: 4%;
                        left: 5%;
                        z-index: 999;
    
                        .inner-circle {
                            position: absolute;
                            width: 80px;
                            height: 80px;
                            background-image: radial-gradient(rgb(225, 254, 255) 14%, rgb(96, 196, 221), #45cfe7);
                            border-radius: 50%;
                            top: 6%;
                            left: 6%;
                            box-shadow: #242424 0 0 4px -1px inset, 0 0 4px 1px #5c5c5c;
                        }
                    }
                }
    
                .small-circle {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    box-shadow: 0 0 3px 0 #1b1b1b inset;
                    z-index: 999;
    
                    &.first {
                        top: 3.5%;
                        left: 25%;
                        background-image: radial-gradient(rgb(255, 191, 191) 14%, rgb(255, 36, 65), #ffffff);

                        @media (max-width: 400px) {
                            left: 30%;
                        }
                    }
                    &.second {
                        top: 3.5%;
                        left: 32%;
                        background-image: radial-gradient(rgb(253, 252, 208) 14%, rgb(250, 246, 20), #ffffff);

                        @media (max-width: 400px) {
                            left: 39%;
                        }
                    }
                    &.third {
                        top: 3.5%;
                        left: 39%;
                        background-image: radial-gradient(rgb(209, 255, 197) 20%, rgb(74, 250, 20), #ffffff);

                        @media (max-width: 400px) {
                            left: 48%;
                        }
                    }
                }
            }
        
            .body-ls {

                .pokedex-screen {
                    width: 80%;
                    height: 50%;
                    background-color: rgb(152, 177, 187);
                    position: absolute;
                    top: 26%;
                    left: 9%;
                    border-radius: 3px 3px 3px 50px;
                    box-shadow: 0 0 3px 4px #555454 inset;

                    .inner-screen {
                        width: 80%;
                        height: 65%;
                        position: absolute;
                        left: 10%;
                        top: 17%;
                        
                        &.on {
                            background: linear-gradient(130deg, #cac9c9 0%, #fff, rgb(235, 235, 235));
                            box-shadow: #1b1b1b 0 0 5px 2px inset;
                            transition: all .3s;
                        }
                        &.off {
                            background-color: #424242;
                            box-shadow: rgb(0, 0, 0) 0 0 5px 2px inset;
                            transition: all .3s;
                        }

                        .principal-pokemon-img-container {
                            width: 100%;
                            height: auto;
                            margin: 0 auto;

                            .screen-pokemon-img {
                                position: absolute;
                                width: 150px;
                                height: 150px;
                                justify-content: center;
                                left: 30%;

                                @media (max-width: 400px) { 
                                    left: 25%;
                                    width: 120px;
                                    height: 120px;
                                    top: 5%;
                                }
                            }
                        }

                        .description-screen {
                            position: absolute;
                            bottom: 1%;

                            @media (max-width: 400px) {  font-size: 0.85rem; }

                            table {
                                width: 95%;
                                margin: 10px auto;

                                label {
                                    font-size: 0.6rem;;

                                    @media (max-width: 400px) {  font-size: 0.45rem; }
                                }
                            }
                        }
                    }

                    .inner-circle {
                        position: absolute;
                        top: 7%;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #df2f2f;
                        box-shadow: 0 0 2px 1px #242424 inset;

                        &.first {
                            left: 43%;
                        }
                        &.second {
                            right: 43%;
                        }
                        
                        &.bottom {
                            width: 28px;
                            height: 28px;
                            bottom: 2%;
                            left: 10%;
                            top: 86.5%;
                        }
                    }

                    .inner-line {
                        width: 10%;
                        height: 0.01rem;
                        background-color: #383838;
                        position: absolute;
                        right: 10%;
                        box-shadow: 0 0 2px 1px #555454;
                        
                        &.one {
                            bottom: 7%;
                        }
                        &.two {
                            bottom: 9.2%;
                        }
                        &.three {
                            bottom: 11.2%;
                        }
                        &.four {
                            bottom: 13.5%;
                        }
                    }
                }
            }

            .footer-ls {
                
                .circle {
                    background-color: #242424;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    bottom: 13%;
                    left: 9%;
                    position: absolute;
                    box-shadow: 0 0 4px 2px #555555;
                }

                .button-bar {
                    width: 55px;
                    height: 13px;
                    position: absolute;
                    bottom: 16%;
                    border-radius: 10px;
                    box-shadow: 1px 1px 4px 1px #383838;

                    &.first {
                        left: 22%;
                        background-color: #11ff4d;
                    }
                    &.second {
                        left: 35%;
                        background-color: #ff9011;

                        @media (max-width: 400px) {
                            left: 40%;
                        }
                    }
                }

                .btn-vertical {
                    position: absolute;
                    bottom: 3%;
                    right: 19.2%;
                    width: 35px;
                    height: 112px;
                    background-color: #222222;
                    border-radius: 5px;
                    box-shadow: 0 0 3px 0 #1f1f1f;
                    cursor: pointer;

                    .arrow-up {
                        background-color: #222222;
                        position: absolute;
                        border-bottom: 20px solid #161616;
                        border-left: 10px solid transparent; 
                        border-right: 10px solid transparent;
                        left: 24%;
                        top: 4%;
                    }

                    .arrow-down {
                        background-color: #222222;
                        border-top: 20px solid #161616;
                        border-left: 10px solid transparent; 
                        border-right: 10px solid transparent;
                        position: absolute;
                        left: 24%;
                        bottom: 5%;
                    }
                }
                .btn-horizontal {
                    position: absolute;
                    bottom: 9.5%;
                    right: 12%;
                    width: 112px;
                    height: 35px;
                    background-color: #222222;
                    border-radius: 5px;
                    box-shadow: -1px 1px 3px 0 #1f1f1f;
                    cursor: pointer;

                    @media (max-width: 400px) {
                        right: 9%;
                        bottom: 10%;
                    }

                    .arrow-left {
                        background-color: #222222;
                        border-right: 20px solid #161616;
                        border-top: 10px solid transparent; 
                        border-bottom: 10px solid transparent;
                        position: absolute;
                        left: 5%;
                        bottom: 18%;
                    }

                    .arrow-right {
                        background-color: #222222;
                        border-left: 20px solid #161616;
                        border-top: 10px solid transparent; 
                        border-bottom: 10px solid transparent;
                        position: absolute;
                        right: 5%;
                        bottom: 18%;
                    }
                }

                .input-container {
                    width: 50%;
                    height: 40px;
                    background-color: #fbff00;
                    border: 1px solid #fbff00;
                    position: absolute;
                    bottom: 3%;
                    left: 9%;
                    border-radius: 7px;
                    text-align: center;
                    transition: all .3s;
                    box-shadow: 1px 1px 3px 1px #555454;
                    font-family: 'Press Start 2P', cursive;
                    font-size: 0.55rem;
                    color: #242424;

                    &:focus {
                        outline: none;
                        border: 1px solid #3d3b36;
                    }
                }
            }
        }

        .pokedex-tube {
            position: absolute;
            bottom: 2%;
            top: 13.5%;
            left: 47.5%;
            width: 5%;
            background: linear-gradient(to left, rgb(151, 23, 23), rgb(255, 44, 44), rgb(151, 23, 23));
            box-shadow: 3px 0px 4px -1px rgb(61, 16, 16), 3px 0px 4px -1px rgb(61, 16, 16), -4px 0px 4px -1px rgb(61, 16, 16);
            z-index: 9999;

            @media (max-width: 400px) {
                width: 98%;
                height: 40px;
                top: 99.2%;
                left: 1%;
            } 

            .tube-spinner {
                width: 100%;
                height: 70px;
                border-radius: 3px;
                background: linear-gradient(to left, rgb(68, 10, 10), rgb(255, 44, 44), rgb(68, 10, 10));

                &.up {
                    margin-top: -73px;
                    box-shadow: 0px 2px 3px 1px #000000;

                    @media (max-width: 400px) {
                        width: 10%;
                        margin: 0 0 0 0px;
                        transform: rotate(-90deg);
                        height: 40px;
                    } 
                }
                &.middle {
                    margin-top: 90px;
                    box-shadow: 0px 2px 3px 1px #000000, 0px -2px 3px 1px #000000;

                    @media (max-width: 400px) {
                        width: 10%;
                        margin: -40px 0 0 45%;
                        transform: rotate(90deg);
                        height: 40px;
                    } 
                }
                &.down {
                    position: absolute;
                    bottom: -0.5%;
                    box-shadow: 0px -2px 3px 1px #000000, 0px 1px 3px 1px rgb(92, 23, 23);

                    @media (max-width: 400px) {
                        width: 10%;
                        margin: -40px 0 0 90%;
                        transform: rotate(-90deg);
                        height: 40px;
                    }
                }
            }
        }

        .pokedex-right-side {
            position: absolute;
            bottom: 2%;
            top: 13.7%;
            right: 8%;
            width: 40%;
            background: linear-gradient(45deg, rgb(255, 51, 78) 20%, rgb(228, 10, 39) 50%);
            border-radius: 0 3px 3px 0;
            border-top: 4px solid #331717;
            box-shadow: 2px 2px 4px 1px #290707;

            @media (max-width: 400px) {
                width: 98%;
                height: 98%;
                left: 1%;
                top: 105.65%;
                bottom: 5%;
                border-radius: 3px;
            }


            .header-rs {

                .btn-pokemons-list {
                    position: absolute;
                    width: 150px;
                    height: 40px;
                    background: linear-gradient(to left, #686868 0%, #686868);
                    color: rgb(236, 236, 236);
                    top: 5%;
                    left: 7%;
                    border-radius: 5px;
                    text-align: center;
                    box-shadow: 0 0 3px 2px rgb(58, 58, 58) inset, 0 0 1px 3px #686868;
                    transition: all .3s;

                    &.active {
                        background: linear-gradient(to left, #ff6b15 40%, #ff6b15 50%, #ff8c49);
                        box-shadow: 0 0 3px 2px rgb(134, 65, 0);
                        cursor: pointer;
                    }

                    h6 {
                        font-size: 0.65rem;
                        margin-top: 15px;
                    }
                }

                .tirangle {
                    background-color: rgb(39, 11, 11);
                    //border-bottom: 50px solid rgb(255, 70, 70);
                    border-bottom: 50px solid transparent;
                    border-left: 55px solid transparent;
                    border-right: 80px solid transparent;
                    position: absolute;
                    left: 40%;
                    top: -3.5%;
                    transform: rotate(28deg);
                    box-shadow: 2px 2px 1px 1px #331717, 2px -7px 1px 1px rgb(39, 11, 11);

                    @media (max-width: 400px) { display: none; }
                }

                .rectangle {
                    background-color: rgb(39, 11, 11);
                    width: 39%;
                    border-bottom-left-radius: 4px;
                    height: 72px;
                    right: 0;
                    position: absolute;
                    top: -2.2%;
                    border-bottom: 4px solid #331717;
                    box-shadow: 4px -6px 3px 3px rgb(39, 11, 11);

                    @media (max-width: 400px) { display: none; }
                }
            }

            .body-rs {

                .rs-screen {
                    width: 85%;
                    border-radius: 5px;
                    height: 160px;
                    background-color: #e0e0e0;
                    position: absolute;
                    top: 17%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    box-shadow: 0 0 5px 1px #000000 inset, 0 0 4px 1px #331717;

                    .inner-screen {
                        position: absolute;
                        width: 98%;
                        height: 145px;
                        background: radial-gradient(rgb(228, 228, 228) 0%, #ffffff, rgb(223, 222, 222));
                        border-radius: 5px;
                        top:5%;
                        left: 1%;
                        box-shadow: 0 0 5px 1px #000000;

                        ::-webkit-scrollbar {
                            width: 8px;
                        }
                        ::-webkit-scrollbar-track {
                            background: transparent;
                            border-left: 4px solid transparent;
                            border-right: 3.5px solid transparent;
                            border-radius: 4px;
                            box-shadow: inset 0 0 5px #acacacee;
                        }
                        ::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: #98aad1d8;
                        }

                        .pokemon-stats {
                            width: 95%;
                            font-size: 0.75rem;
                            margin: 5px auto;

                            .hp-text-content, .attack-text-content {
                                display: flex; 
                                justify-content: space-between;
                            }

                            .attack-text-content {
                                div:first-child { margin-top: 3px; }
                            }

                            .type-text-content {
                                margin-top: 10px;
                                display: flex;
                                font-size: 0.55rem;

                                .pokemon-type-badge {
                                    padding: 4px;
                                    color: #fff;
                                    list-style: none;
                                    margin-right: 3px;
                                    border-radius: 5px;
                                }
                            }
                            
                            .ability-text-content {
                                display: flex;
                                position: absolute;
                                width: 95%;
                                bottom: 2%;
                                justify-content: space-between;

                                div:first-child {
                                    font-size: 0.7rem;
                                    margin-top: 5px;
                                }

                                .abilities-list {
                                    display: inline-block;
                                    font-size: 0.55rem;
                                    margin-left: 10px;

                                    .pokemon-ability-badge {
                                        padding: 4px;
                                        color: #fff;
                                        background-color: #383769;
                                        list-style: none;
                                        margin-right: 3px;
                                        border-radius: 5px;
                                    }
                                }
                            }

                            .pokemon-hp-bar {
                                height: 0.20rem;
                                border-radius: 10px;
                                background-color: #000000;
                            }
                        }

                        .pokemons-list {
                            margin-top: 1px;
                            font-size: .6rem;
                            max-height: 143px;
                            overflow-y: scroll;
                            overflow-x: hidden;

                            h5 { margin: 5px 0 5px 0}
                            
                            ul {
                                list-style: none;

                                .pokemon-table-img {
                                    width: 60px;
                                    height: 50px;
                                    padding:0;
                                    margin:0;
                                    object-fit: contain;
                                    object-position: center;
                                }
                                
                                a { 
                                    color: rgb(48, 48, 48); 
                                    text-decoration: none; 
                                    display: flex;

                                    span { 
                                        margin-top: 20px;
                                        margin-left: 10px;
                                        margin-right: 10px;
                                    }

                                    &:hover {
                                        background-color: #ffe866;
                                        box-shadow: 0 0 2px 0 #645d34;
                                        transform: translate(5px);
                                        transition: all .3s;
                                    }
                                }
                            }
                        }
                    }
                }

                .rs-buttons {

                    .buttons-table {
                        width:85%;
                        position: absolute;
                        bottom: 32%;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        border-radius: 5px;

                        tr {

                            &:first-child {
                                td {
                                    background-color: #1194ff;
                                    box-shadow: 0px 0px 3px 2px rgb(18, 34, 44);
                                    
                                    &:first-child { border-top-left-radius: 3px; }
                                    &:last-child { border-top-right-radius: 3px; }
                                }
                            }

                            &:last-child {
                                td {
                                    background-color: #1194ff;
                                    box-shadow: 0px 0px 3px 2px rgb(18, 34, 44);

                                    &:first-child { border-bottom-left-radius: 3px; }
                                    &:last-child { border-bottom-right-radius: 3px; }
                                }
                            }
                        }

                        .table-button {
                            width: 100%;
                            height: 40px;
                        }
                    }

                    .bottom-tb-btn {
                        background-color: #1d1d1b;
                        width: 70px;
                        height: 25px;
                        bottom: 26%;
                        border-radius: 5px;
                        position: absolute;
                        box-shadow: 0 0 2px 0 #c0c0c0 inset, 0 0 2px 1px #242424;

                        .arrow {
                            background-color: #1d1d1b;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            position: absolute;
                            top: 17%;
                            transition: all .1s;
                            
                            &.left {
                                border-right: 20px solid rgb(77, 77, 77);
                                left: 30%;
                            }

                            &.right {
                                border-left: 20px solid rgb(77, 77, 77);
                                right: 30%;
                            }
                        }

                        &.one { right: 8%; cursor: pointer; }
                        &.two { 
                            right: 23%; cursor: pointer;

                            @media (max-width: 400px) {  right: 30% }
                        }

                        &.disabled {
                            cursor: auto;
                            background-color: #30302f;

                            .arrow {
                                background-color: #30302f;
                            }

                            .arrow.left { border-right: 20px solid #30302f; background-color: #30302f;}
                            .arrow.right { border-right: 20px solid #1d1d1b;}
                        }
                    }

                    .white-btn {
                        position: absolute;
                        background-color: #fff;
                        width: 50px;
                        height: 50px;
                        bottom: 18%;
                        box-shadow: 0 0 3px 1px #1d1d1b inset, 0 0 1px 2px #691e1e;

                        &.one{ 
                            left: 7.5%;
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                        }
                        &.two{ 
                            left: 16.6%;
                            border-top-right-radius: 2px;
                            border-bottom-right-radius: 2px;

                            @media (max-width: 400px) {  left: 20.5% }
                        }
                    }

                    .yellow-button {
                        background: radial-gradient(#f8f552 10%, #ffc400, );
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        bottom: 16%;
                        box-shadow: 0 0 2px 2px #65661e inset;
                        border-radius: 50%;
                        right: 10%;
                    }
                }
            }

            .footer-rs {
                
                .result-screen {
                    background-color: #161616;
                    width: 170px;
                    height: 45px;
                    border-radius: 3px;
                    bottom: 4%;
                    position: absolute;
                    box-shadow: 0 0 4px 1px #555454 inset, 0 0 2px 1px rgb(71, 71, 71);

                    &.height { 
                        left: 15%; 
                        
                        @media (max-width: 400px) {  left: 5% }
                    }

                    &.weight { 
                        right: 15%; 

                        @media (max-width: 400px) {  right: 5% }
                    }
                    label { font-size: 0.6rem; }
                    h4 { margin-top: 5px; }
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}

.item{ 
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    animation:spin .9s linear infinite;
}

.ball{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #1d1d1b; 
  z-index: 100;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;  
  position: absolute;
  background-color: red;
  z-index: 0;
}

.half-ball{
  margin: auto;
  left: 0;
  right: 0;
  top: 20px;
  bottom:0;
  z-index: 0;
  position: absolute;
  background-color: white;
  border-radius: 0 0 100px 100px;
  width: 40px;
  height: 20px;
}

.horizon{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 1%;
  bottom:0;    
  margin-top: auto;
  border-radius: 0px;
  width: 42px;
  height: 9px;
  background-color: #1d1d1b;
  z-index: 3;
}

.big-button{
  z-index: 4;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  position: absolute;
  height: 13px;
  width: 13px; 
  background-color: white;
}

.small-button{
  z-index: 5;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  border-radius: 50%;
  border: 2px solid #1d1d1b;
  position: absolute;
  height: 5px;
  width: 5px; 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}