<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="css/pokedex-styles.css">
</head>
<body>
    <div id="app">
        <div class="pokedex-body">
            <div class="pokedex-left-side">
                <div class="header-ls">
                    <div class="back-rectangle"></div>
                    <div class="lower-triangle"></div>
                    <div class="rest-rectangle"></div>
                    
                    <!-- <div class="back-rectangle shadow-br"></div> -->
                    <div class="lower-triangle shadow-lt"></div>
                    <!-- <div class="rest-rectangle shadow-rr"></div> -->
                    
                    <div class="large-circle">
                        <div class="principal-circle">
                            <div class="inner-circle"></div>
                        </div>
                    </div>
                    <div class="small-circle first"></div>
                    <div class="small-circle second"></div>
                    <div class="small-circle third"></div>
                </div>
                <div class="body-ls">
                    <div class="pokedex-screen">
                        <div class="inner-circle first"></div>
                        <div class="inner-circle second"></div>

                        <div :class="(screenOf) ? 'inner-screen off' : 'inner-screen on'">
                            <div v-if="isLoading">
                                <div class="item">
                                    <div class="ball"></div>
                                    <div class="half-ball"></div>
                                    <div class="big-button"></div>
                                    <div class="small-button"></div>
                                    <div class="horizon"></div>
                                </div>
                            </div>
                            <div v-else>
                                <div v-if="pokemon.length < 1">

                                </div>
                                <div v-else>
                                    <img :src="pokemon.sprites.front_default" class="screen-pokemon-img">    
                                    <div class="description-screen">
                                        <h3 v-text="pokemon.name.toUpperCase()"></h3>
                                        <table>
                                            <tr>
                                                <td>Experience</td>
                                                <td align="right"> <label v-text="pokemon.base_experience"></label> </td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td align="right"> <label v-text="pokemon.height"></label> </td>
                                            </tr>
                                            <tr>
                                                <td>Weight</td>
                                                <td align="right"> <label v-text="pokemon.weight"></label> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inner-circle bottom"></div>
                        <div class="inner-line one"></div>
                        <div class="inner-line two"></div>
                        <div class="inner-line three"></div>
                        <div class="inner-line four"></div>
                    </div>
                </div>
                <div class="footer-ls">
                    <div class="circle"></div>
                    <div class="button-bar first"></div>
                    <div class="button-bar second"></div>

                    <div class="btn-vertical">
                        <div class="arrow-up"></div>
                        <div class="arrow-down"></div>
                    </div>
                    <div class="btn-horizontal">
                        <div class="arrow-left"></div>
                        <div class="arrow-right"></div>
                    </div>

                    <input type="text" @keyup.enter="obtenerPokemon(searchPokemon)" class="input-container" v-model="searchPokemon">
                </div>
            </div>
            <div class="pokedex-tube">
                <div class="tube-spinner up"></div>
                <div class="tube-spinner middle"></div>
                <div class="tube-spinner down"></div>
            </div>
            <div class="pokedex-right-side">
            </div>
        </div>
    </div>
    
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>